.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 30;
    border-radius: 15;
    border-color: #ffffff;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.btn-default {
  color: #555555;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: #ffffff;
  background-color: #2fa4e7;
  border-color: #2fa4e7;
}

.btn-warning {
  color: #ffffff;
  background-color: #dd5600;
  border-color: #dd5600;
}

.btn-danger {
  color: #ffffff;
  background-color: #c71c22;
  border-color: #c71c22;
}

.btn-success {
  color: #ffffff;
  background-color: #73a839;
  border-color: #73a839;
}

.btn-info {
  color: #ffffff;
  background-color: #033c73;
  border-color: #033c73;
}